<h1>Listado de Personas</h1>
<p>Obtenemos la información de <a href="https://randomuser.me/" target="_blank">randomuser.me</a></p>
<p>Ejemplo para aprender a obtener información de un servicio externo y mapear a nuestro modelo Persona</p>


<div class="d-flex inline mb-2">
  <input type="number" [(ngModel)]="numeroPersonas" class="form-control col-1">
  <button (click)="refrescarListado()" class="btn btn-primary">Buscar</button>

  <p *ngIf="personas.length==0" class="text-danger">*Cargando personas....</p>
  <p>Personas Listadas {{personas.length}}</p>

</div>  



<ul class="list-group">
  <li *ngFor="let p of personas" class="list-group-item">
    <div class="d-flex">
        <img src="{{p.foto}}" alt="imagen de {{p.nombre}}" class="avatar mr-3 rounded-circle shadow p-1 bg-white rounded">
        <div>
          <p class="text-primary nombre">{{p.nombre}} {{p.apellido}}</p>
          <p class="text-mutted">{{p.email}}</p>
        </div>
    </div>   
  </li>
</ul>