
<div class="media">
    <p *ngIf="multas.length==0" class="spinner-border text-danger"></p>
    <img src="{{agente.imagen}}" class="mr-3" alt="{{agente.nombre}}"  width="100em"
    height="100em">
    <div class="media-body">
        <p><span class="badge badge-pill badge-warning">Agente: {{agente.nombre}}</span></p>
    </div>
  </div>



<table class="table table-hover tablaOrdenable table-striped" id="lista">
  <thead class="thead-light">
    <tr>
      <th>id</th>
      <th>Matricula</th>
      <th>Importe</th>
      <th>Concepto</th>
      <th>Fecha de Alta</th>
      <th>Hora  de Alta</th>
      <th>Nombre Agente</th>     
    </tr>
  </thead>
  <tbody>   
    <tr *ngFor="let m of multas">
      <td>{{m.id}}</td>
      <td>{{m.coche.matricula}}</td>
      <td>{{m.importe | moneda}}</td>
      <td>{{m.concepto}}</td>
      <td>{{m.fechaAlta | date}}</td>
      <td>{{m.fechaAlta | date:'shortTime'}}</td>
      <td>{{m.agente.nombre}}</td>
    </tr>  
  </tbody>
</table>

