




<table class="table table-hover tablaOrdenable table-striped">
  <thead class="thead-light">
    <tr>
      <th>imagen</th>
      <th>id</th>
      <th>Matricula</th>
      <th>Importe</th>
      <th>Concepto</th>
      <th>Fecha de Alta</th>
      <th>Hora  de Alta</th>
      <th>Nombre Agente</th>
      
    </tr>
  </thead>
  <tbody>   
    <tr *ngFor="let m of multas">
      <td> <img class="mr-3 img-thumbnail" src="{{m.agente.imagen}}" alt="{{m.agente.nombre}}"></td>
      <td>{{m.id}}</td>
      <td>{{m.coche.matricula}}</td>
      <td>{{m.importe | moneda}}</td>
      <td>{{m.concepto}}</td>
      <td>{{m.fechaAlta | date}}</td>
      <td>{{m.fechaAlta | date:'shortTime'}}</td>
      <td>{{m.agente.nombre}}</td>
     

    </tr>
   
  </tbody>
</table>

