<h1 class="text-primary">Flujo de la información de la vista al modelo y modelo a vista</h1>
<p>Para más detalle leer manual de angular en PDF (página 37)</p>

<img src="assets\img\flujo-informacion-angular.png" alt="flujo de la información"/>

<h2>Expresión &#123; &#123; &#125; &#125;</h2>
<p>{{expresion}}</p>

<h2>Propiedades</h2>
<h3 [class]="claseModelo">Hidden</h3>
<p>Pulsa para cambiar color titulo</p>
  <input type="radio" name="color" value="text-primary" (click)="changeClass('text-primary')"> Azul<br>
  <input type="radio" name="color" value="text-warning" (click)="changeClass('text-warning')"> Naranja<br>
  <input type="radio" name="color" value="text-danger" (click)="changeClass('text-danger')"> Rojo<br>
<p [hidden]="!ocultar">este se ve</p>
<p [hidden]="ocultar">este se oculta</p>

<h2>Doble Bindding o Banana In a Box</h2>

<p>Tu Nombre es: <b>{{nombre}}</b></p>
  <input type="text" (click)="borrar()" [(ngModel)]="nombre" placeholder="escribe tu nombre, minimo 3 letras" class="form-control {{valido}}">