<div class="mb-5">
  <h1>Flujo de la información de la vista al modelo y modelo a vista</h1>
  <p>*Para mas detalle leer manual de angular en pdf ( pagina 37 )</p>

  <img src="assets/imgs/flujo informacion angular.png" alt="flujo informacion entre modelo y vista" />

  <h2>Expresion &#123; &#123; &#125; &#125;</h2>
  <p>{{expresion}}</p>


  <h2>Propiedes</h2>
  <h3 [class]="claseModelo">HIDDEN</h3>
  <p [hidden]="ocultar">Este se Oculta</p>
  <p [hidden]="!ocultar">Este se Muetsra</p>

  <p>Pulsa para cambiar color titulo</p>
  <input type="radio" name="color" value="text-primary" (click)="changeClass('text-primary')"> Azul<br>
  <input type="radio" name="color" value="text-warning" (click)="changeClass('text-warning')"> Naranja<br>
  <input type="radio" name="color" value="text-danger" (click)="changeClass('text-danger')"> Rojo<br>

  <h2>Doble Bindding o Banana In a Box </h2>

  <p>*CUIDADO importar <b>import &#123; FormsModule &#125; from '@angular/forms';</b> e importar en <b>app.module.ts</b></p>


  <p>Tu Nombre es: <b>{{nombre}}</b></p>
  <input type="text" (click)="borrar()" [(ngModel)]="nombre" placeholder="escribe tu nombre, minimo 3 letras" class="form-control is-invalid">

</div>