
<h1 class="text-primary">Flujo de la información de la vista al modelo y modelo a vista</h1>
<img src="assets\img\flujo.png" alt="">
<h2 class="text-primary"> &#123; &#123; expresion &#125; &#125;</h2>
<h3 class="text-success">{{expresion}}</h3>

<hr>

<h2  class="text-primary">Propiedad [ hidden ]</h2>
<h3 [hidden]="ocultar">SE VE OCULTA</h3>
<h3  [hidden]="!ocultar">SE MUESTRA</h3>

<hr>

<div>
    <h2  [class]="claseModelo">CAMBIAR CLASE</h2>
    <input type="radio" id="rojo" name="color" value="1" (change)='cambiarClase("text-danger")'>
    <label for="rojo"> rojo</label>
  </div>
   <div>
    <input type="radio" id="amarillo" name="color" value="2" (change)='cambiarClase("text-warning")'>
    <label for="amarillo"> amarillo</label>
  </div>
  <div>
    <input type="radio" id="verde" name="color" value="3" (change)='cambiarClase("text-success")'>
    <label for="verde"> verde</label>
  </div>
<hr>
  <h2 class="text-primary">'DOBLE BINDING' O 'BANANA IN A BOX'</h2>
  <input  type="text" name="nom" class="form-control" placeholder="Escribe tu nombre" [(ngModel)]="nombre">
  <h3>Tu nombre es: {{nombre}}</h3>
  <button (click)="borrar()" class="btn btn-warning">Reiniciar</button>
  
  
 

