<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading"><i class="fas fa-car"></i></h1>
    <p class="lead">Introduzca sus credenciales: </p>
    <form>
      <div class="form-group">
        <label for="placa">Nº Placa: </label>
        <input type="number" class="form-control" id="placa" name="placa" aria-describedby="placaHelp" placeholder="P.E: 1234"
          autofocus> <!-- Establecer como required -->
      </div>
      <div class="form-group">
        <label for="password">Contraseña: </label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
          placeholder="P.E: 12345678"> <!-- Establecer como required -->
      </div>
      <button type="submit" class="btn btn-lg btn-secondary btn-block mb-3">
        <span class="d-flex justify-content-center align-items-center">Acceder
          <i class="ml-2 fas fa-sign-in-alt"></i>
        </span>
      </button>
    </form>
  </main>
</div>
