<app-nav></app-nav>

<main class="container">
<h1>Servicio Rest para Frutas</h1>

<app-alert [propiedadAlert]="alert"></app-alert>

<!--  Para Formularios muy simples usar BanaInaBox
<input type="text"  [(ngModel)]="frutaNueva.nombre" 
       class="form-control" 
       placeholder="Nombre Fruta minimo 3 letras">
<button (click)="nueva()" 
        class="btn btn-primary" 
        disabled="{{(frutaNueva.nombre.length<3)?'disabled':''}}">Crear Nueva</button>
-->


<div class="row">
  <div class="col-8">


     <!--  TABLA DONDE SE CARGAN LAS FRUTAS   -->
      <table class="table table-bordered">
          <thead class="bg-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Foto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Oferta</th>
              <th scope="col">Descuento</th>
              <th scope="col">Colores</th>
              <th scope="col">Operaciones</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngIf="frutas.length==0">
              <td colspan="3">Cargando datos...</td>
            </tr>  
            <tr *ngFor="let f of frutas">
              <th scope="row">{{f.id}}</th>
              <td><img src="{{f.imagen}}" alt="imagen de la fruta {{f.nombre}}"></td>
              <td>{{f.nombre}}</td>        
              <td>{{f.precio}}</td>    
              <td>{{f.oferta}}</td>   
              <td>{{f.descuento}}</td>    
              <!-- colores -->
              <td>
                <ul>
                  <li *ngFor="let color of f.colores" >      <!--    LISTADO COLORES HAY FRUTAS QUE TIENEN MAS DE UNO  -->
               {{color.nombre}} 
                    
                  </li>
                </ul>                
              </td>    
              <td>
                  <i class="fas fa-edit mr-4" (click)="editar(f)"></i>
                  <i class="fas fa-trash-alt" (click)="eliminar(f)"></i>            
              </td>
            </tr>      
          </tbody>
        </table>

  </div>



  <div class="col-4">

  <!--    VER DATOS FORMULARIO -->
      <div style="border:1px solid red; padding:10px;">
          <p>Valores: {{ formulario.value | json }}</p>
          <p>Estado:  {{ formulario.status | json }}</p> 
        </div>
      
        
        <!--    FORMULARIO -->
        <form [formGroup]="formulario" (submit)="nueva()"  class="p-3 mb-4 mt-2 border border-primary">
        
            <div class="form-row">
                <div class="col-6">
        
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" formControlName="nombre" class="form-control" placeholder="Mínimo 3 letras">      
                      <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched"  
                      class="text-danger">*recuerda que minimo 3 letras</p>
                    </div>   
        
                    <div class="form-group">
                       <label for="nombre">Precio</label>
                       <input type="number" formControlName="precio" class="form-control">      
                    </div>    
                    
                    <div class="form-group">
                      <label for="oferta">Oferta</label>
                      <input type="checkbox" formControlName="oferta" class="form-control">      
                    </div>  
                    <div class="form-group">
                      <div *ngIf="formulario.controls.oferta.value"> 
                        <label for="descuento">Descuento <b>{{formulario.controls.descuento.value}}</b></label>
                        <input type="range" formControlName="descuento" step="5" min="0" max="100" class="form-control">      
                        <p *ngIf="formulario.controls.descuento.invalid"  
                        class="text-danger">*Debes seleecionar descuento</p>
                      </div>  
                    </div>  
                    
        
                </div> <!-- col-6 -->   
        
                <div class="col-6">          
                  <img class="medium" src="{{formulario.controls.imagen.value}}" alt="url de la imagen de la nueva fruta">
                  <br>
                  <label for="imagen">URL de la Imagen</label>
                  <input type="text" formControlName="imagen" class="form-control">      
                  <p *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched"  
                  class="text-danger">*debe ser una URL de imagen valida empezar por http(s) y terminar .png o .jp(e)g</p>
                </div>  

                <fieldset>
                    <span><i class="fas fa-plus-circle" (click)="nuevoColor()"></i>Nuevo Color</span>
                   
                    <div formArrayName="colores">
                        <div *ngFor="let color of formColores.controls; let i = index;" >
                            <div [formGroupName]="i">
                                <label for="imagen">Nombre:</label>
                                <input formControlName="nombre" class="form-control">                               
                                <label for="imagen">codigo:</label>
                                <input formControlName="codigo" class="form-control">    
                                <span><i class="fas fa-minus-circle" (click)="eliminarColor(i)"></i>Eliminar </span>                               
                                <hr>
                            </div> 
                        </div>
                      </div>                   
                </fieldset>
                
        
            </div>    
            
            <button type="submit"
                    class="btn btn-block btn-primary mt-5"
                    [disabled]="formulario.invalid">
                    {{(frutaSeleccionada.id == -1)?'Crear':'Modificar'}}
            </button>
        </form>

  </div>
</div>
</main>