
h1 {
    color: #3DA9C7;
    text-align: center;
}

.respuesta {
	background-color:#F9CA0E;
	color: black;
	text-align:center;
}
#ahorcado {
    height: 290px;
    width: 235px;
    background-image: url('../images/sprite.jpg');
    border: 1px solid  #3DA9C7;
}
.mensaje {
    height: 10%;
    width: 90%;
    border: 1px solid  #3DA9C7;
    align-items: center;
  justify-content: center;
}
.flex-container{
  padding: 20 px;
  margin: 20 px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
row {
  width: 100%;
}
.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.fallo0{
    background-position-x: -0x;
}

.fallo1{
    background-position-x: -245x;
}

.fallo2{
    background-position-x: -482px;
}

.fallo3{
    background-position-x: -722px;
}
.fallo4{
    background-position-x: -962px;
}
.fallo5{
    background-position-x: -1202px;
}

.fallo6{
    background-position-x: -1442px;
}
.fallo7{
    background-position-x: -1685px;
}

