<app-nav></app-nav>
<app-alert [alerta]="alerta"></app-alert>
<div class="col-12">
  <h3 *ngIf="multas.length !== 0" class="cover-heading">Multas activas ( <b>{{ multas.length }}</b> )</h3>
  <h3 *ngIf="multasAnuladas.length !== 0" class="cover-heading">Multas anuladas ( <b>{{ multasAnuladas.length }}</b> )</h3>

  <button class="btn btn-primary m-2" (click)="cargarMultas()" >Activas 
    <span *ngIf="multas.length !== 0" class="text-warning font-weight-bold">: {{ multas.length }}</span>
  </button>
  <button class="btn btn-secondary m-2" (click)="cargarMultasAnuladas()" >Anuladas 
    <span *ngIf="multasAnuladas.length !== 0" class="text-warning font-weight-bold">: {{ multasAnuladas.length }}</span> 
  </button>
  

  <table *ngIf="multas.length !== 0" class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Importe</th>  
      </tr>  
    </thead>
    <tbody>
      <tr *ngFor="let multa of multas">
        <td>{{ multa.id }}</td>
        <td>{{ multa.fecha | date :'medium' }}</td>
        <td>{{ multa.concepto }}</td>
        <td>{{ multa.importe | moneda : 'es' }}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="multasAnuladas.length !== 0" class="table table-dark">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Concepto</th>
          <th>Importe</th>  
          <th>Fecha Baja</th>
        </tr>  
      </thead>
      <tbody>
        <tr *ngFor="let multa of multasAnuladas">
          <td>{{ multa.id }}</td>
          <td>{{ multa.fecha | date :'medium' }}</td>
          <td>{{ multa.concepto }}</td>
          <td>{{ multa.importe | moneda : 'es' }}</td>
          <td>{{ multa.fechaBaja | date :'medium' }}</td>
        </tr>
      </tbody>
    </table>

</div>