<app-nav></app-nav>
<app-alert [alerta]="alerta"></app-alert>
<div class="col-12">
  <h3 class="cover-heading">Multas activas</h3>

  <h5 *ngIf="multas.length === 0" class="text-danger">No hay multas registradas a nombre de este agente</h5>

  <table class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Importe</th>  
      </tr>  
    </thead>
    <tbody>
      <tr *ngFor="let multa of multas">
        <td>{{ multa.id }}</td>
        <td>{{ multa.fecha | date :'medium' }}</td>
        <td>{{ multa.concepto }}</td>
        <td>{{ multa.importe | moneda : 'es' }}</td>
      </tr>
    </tbody>
  </table>
</div>