<div class="row">
  <div class="col-6">
    <h2 class="text-primary">Listado de coche en taller</h2>
      <div class="btn-group mb-2" role="group" aria-label="Basic example">
        <input type="text" [(ngModel)]="searchText" class="ml-2 text-primary form-control" placeholder="filtra por nombre o color del coche"/>
      </div>
    <ul class="list-group">
      <li *ngFor="let c of coches | filtroCoche : searchText ; let i =index" (click)="cambiarCoche(i)" 
          class="list-group-item {{(c.nombre === cocheSeleccionado.nombre)?'active':''}}" >
          {{c.nombre|uppercase}}
      </li>
    </ul>
  </div>
  <div class="col-6">
    <h3>Coche Seleccionado</h3>
      <app-coche-card [coche]="cocheSeleccionado"></app-coche-card>
  </div>
</div>