<form >
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="matricula"><b>Matrícula</b></label>
          <input type="text" formControlName="matricula" class="form-control" placeholder="0000AAA">
        
          <label for="concepto"><b>Concepto</b></label>
          <textarea class="form-control" rows="5" formControlName="concepto" class="form-control"></textarea>

          <label for="importe"><b>Importe</b></label>
          <input type="text" formControlName="importe" class="form-control">

          <label for="agente"><b>Agente</b></label>
          <input type="text" formControlName="agente" class="form-control">

        </div>
        <a  href="http://localhost:4200//vermultas" class="mt-6 btn btn-primary btn-block btn-lg ">
          Multar
        </a>
      </div>
      

    </div>
    
  </div>
</form>
