
<div class="col-md-12 text-center" >
  <div class="card box-shadow position-relative">
    <img class="card-img-top" src="{{fruta.imagen}}" alt="{{fruta.nombre}}">
    <div class="position-absolute ">
            <span *ngIf="fruta.oferta" class="badge badge-primary text-white ">Oferta</span>
    </div>
    <div class="mt-3">
        <span class="col-3 precio-descuento">{{fruta.precio | moneda}}  </span>
        <span  class="col-3 badge badge-primary text-white">{{fruta.descuento}}% </span>
        <span  class=" col-3 precio"> {{ calcularDescuento(fruta) | number : '1.0-2' | moneda }}</span>
    </div>
    <div class="mb-3">
        <p class="title">{{fruta.nombre}}</p>
        <span class="color" [style.background]="color.codigo" *ngFor="let color of fruta.colores" >
        </span>
      </div>
  </div>
</div>


