<h6 class="bg-primary text-white p-2 text-center text-uppercase">{{fruta.nombre}}</h6>
<div class="col-md-12 text-center" >
  <div class="card box-shadow position-relative">
    <img class="card-img-top" src="{{fruta.imagen}}" alt="{{fruta.nombre}}">
    <div class="position-absolute ">
            <span *ngIf="fruta.oferta" class="badge badge-primary text-white ">Oferta</span>
    </div>
    <div class="mt-3">
        <span class="col-3 {{(!fruta.oferta)?'precio':'precio-descuento'}}">{{fruta.precio | moneda}}  </span>
        <span *ngIf="fruta.oferta && fruta.descuento > 0" class="col-3 badge badge-primary text-white"> {{fruta.descuento}}% </span>
        <span *ngIf="fruta.oferta && fruta.descuento > 0" class=" col-3 precio"> {{ calcularDescuento(fruta) | number : '1.0-2' | moneda }}</span>
    </div>
    <div class="mb-3">
        <p class="title text-uppercase">{{fruta.nombre}}</p>
        <span class="color" [style.background]="color.codigo" *ngFor="let color of fruta.colores" >
        </span>
    </div>
    <button (click)="enviarCarrito()" type="button" class="btn btn-block btn-info text-white"><i class="fas fa-cart-plus"></i></button>
  </div>
  <!--
  <ul class="list-group texto-grande">
      <li class="list-group-item">
        <span class="badge badge-{{fruta.oferta?'success':'danger'}} text-white ">{{fruta.oferta?'En oferta':' Sin oferta'}} </span>
      </li>
      <li class="list-group-item">
            <span class="badge badge-{{fruta.oferta?'success':'danger'}} text-white ">{{fruta.oferta?fruta.descuento:'-'}}% </span>
          </li>
      <li class="list-group-item">
          <span class="badge badge-{{fruta.oferta || fruta.precio<frutaComparar.precio ?'success':'danger'}} text-white ">{{fruta.precio | moneda}}</span>
        </li>
  </ul>
  -->
</div>

