.color{
    color:red;
    background: red;
     border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height:1em;
    margin-right: 5px;
    text-align: center;
    width: 1em;
    overflow: hidden;
    padding: 0.5em;
  }
 img{
      max-width: 200px;
      max-height: 150px;
      margin:0 auto;
  }

.precio-descuento{
    color: lightgray;

    text-decoration:line-through;
}

.texto-grande{
    
    font-size: 1.5em;
    font-weight: 100;
    .badge{
        font-weight: normal;
        padding: 7px 15px;
    }
}