#ulVehiculo .matricula{
    font-weight: 600;
    text-transform: uppercase;

}
#ulVehiculo .modelo{
    font-weight: 400;
    text-transform: capitalize;
}
#ulVehiculo .km{
    color: grey;
}

#ulVehiculo a{
    float: right;
}
