

#ulVehiculo > li > span:nth-child(1){
   font-weight: 600;
   text-transform:uppercase;
}

#ulVehiculo > li > span:nth-child(2){
    font-weight: 400;
   text-transform:capitalize;
}

#ulVehiculo > li > span:nth-child(3){
    color: grey;
}

#ulVehiculo > li > a{
    float: right;
    padding: 0 10px;
}