<app-nav></app-nav>
<main role="main" class="container p-2"> 

	<app-alert [alert]="alert"></app-alert>
	<form [formGroup]="formularioMat" (submit)="comprobar()" >
		<div routerLinkActive="active">
			<a [routerLink]="['/principal']" class="btn btn-outline-primary mt-3 mb-3 col-3">
				Volver
			</a>
		</div>
		<!--<%@ include file="../../includes/mensajes.jsp"%>-->
		<!--<input type="hidden" name="matricula" formControlName="matricula">
			<div class="form-group">
				<label for="matricula">Introducir Matricula a multar</label> <input type="text" name="matricula" class="form-control" placeholder="4 numeros, 3 letras"  required>
			</div>-->

		<!--	<div style="border:1px solid red; padding:10px;">
				<p>Agente:  {{ agente | json }}</p> 
			  </div>-->

			<label for="matricula">Introducir Matricula a multar</label>
		<input type="text" formControlName="matricula" class="form-control" placeholder="4 numeros, 3 letras" required>
		<br>
     
      <button class="mt-6 btn btn-primary btn-block btn-lg " type="submit">
        Buscar
      </button>
	</form>
</main>
