<h1>Jugando con Arrays</h1>

<div class="row">
  <div class="col-6">
    <h2>Frutas JSON</h2>
    {{ frutas | json }}
  </div>
  <div class="col-6">
    <h2>Frutas Maquetado</h2>
    
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="cambiarOferta(true)" class="btn btn-success">OFERTA</button>
      <button type="button" (click)="cambiarOferta(false)" class="btn btn-secondary">TODAS</button>      
    </div>

    <p class="text-danger">{{searchText}}</p>
    <input type="text" [(ngModel)]="searchText" />

    <ul class="list-group">
        <li *ngFor="let fruta of frutas | filtroOferta : isOferta : searchText" class="list-group-item d-flex justify-content-between">
          <img [src]="fruta.imagen" alt="{{fruta.nombre}}">

          <!-- nombre y colores -->
          <div class="d-flex flex-column">
            <p class="title">{{fruta.nombre}}</p>
            <p>
              <span *ngFor="let color of fruta.colores" 
                    class="badge" 
                    [style.color]="color.codigo">
                {{color.nombre}}
              </span>          
            </p>
          </div>

          <!-- precio y descuentos -->
          <div class="d-flex flex-column">          
            <span class="{{(!fruta.oferta)?'precio':'precio-descuento'}}">{{fruta.precio | moneda}}</span>            
            <span *ngIf="fruta.oferta" class="badge badge-primary">{{fruta.descuento}}%</span>
            <span *ngIf="fruta.oferta" class="precio">{{ calcularDescuento(fruta) | number : '1.0-2' | moneda }}</span>
          </div>
          
        </li>    
    </ul>

  </div>
</div>


<div class="row">
  <div class="col-6">
    <h2>Frutas MAP, FILTER, FIND, REDUCE</h2>
    <p><b>Solo Nombres</b> {{f_nombres | json}}</p>
    <p><b>Solo Precios</b> {{f_precios | json}}</p>
    <p><b>Solo Nombre y Precios</b> {{f_precios_nombre | json}}</p>
    <p><b>Solo Nombre Frutas en Oferta</b> {{f_oferta|json}}</p>
    <p><b>Solo Nombre Frutas NO en Oferta</b> {{f_no_oferta|json}}</p>
    <p><b>reduce TOTAL FRUTAS</b> {{ total_frutas }}</p>
    <p><b>reduce TOTAL FRUTAS OFERTA</b> {{ total_frutas_oferta }}</p>
    
  </div>
  <div class="col-6">
    <h2></h2>
  
  </div>
</div>  