<header class="masthead mb-auto">
  <div class="inner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <h1 class="masthead-brand">
        <a [routerLink]="home"><img src="assets/img/fee64.png"></a><small class="text-white">{{ agenteLogueado.nombre }}</small>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="btn btn-secondary btn-block m-2" href="#">
              <span class="d-flex justify-content-center align-items-center">Multar
                <i class="fas fa-plus-circle ml-2"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary btn-block m-2" [routerLink]="listado-multas">
              <span class="d-flex justify-content-center align-items-center">Ver Multas
                <i class="fas fa-file-invoice-dollar ml-2"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary btn-block m-2" href="#">
              <span class="d-flex justify-content-center align-items-center">Ver Multas Anuladas
                <i class="fas fa-clipboard-check ml-2"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger btn-block m-2" (click)="clickCerrarSesion()">
              <span class="d-flex justify-content-center align-items-center">Cerrar sesión
                <i class="fas fa-sign-out-alt ml-2"></i>
              </span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
