#frutas{
    
    /* The image used */
    background-image: url("/assets/img/frutas.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    min-height: 80vh;
    display: flex;

    section{
        padding: 25px 40px;
        background-color: rgba(255,255,255,0.7);        
        margin: 40px auto;          
        width: 60vw;

        h2{
            text-align: center;
            margin-bottom: 30px;
        }

        form{
            justify-content: space-between;
            margin-bottom: 25px;

            .formulario{
                display: flex;
                justify-content: space-between;
                margin: 20px 0;

                .formulario-col{
                    width: 48%;

                    input{
                        padding: 0 12px;
                    }
                    input[type="range"] {
                        padding: 0;
                        min-width: 150px;
                    }
                    .oferta div:first-child {
                        margin: 0 15px;
                    }
                    img{
                        max-width: 100%;
                    }
                }
            }
        }

        table{
            width: 100%;

            tr{
                margin-top: 20px;
            }

            td {
                margin-bottom:15px;

                .nombre{
                    text-transform: uppercase;
                }

                img {
                    max-width: 100px;
                    border-radius: 50%;
                }
            
            }    
        }

        span.btn {
            border-radius: 0;
            cursor: pointer;
        }

        span.btn-outline-warning:hover {
            color: #fff;
        }

    }

    .terminada{
        text-decoration: line-through;
    }

}