<table *ngIf="isActiva==true"  class="table table-striped responsive no-wrap">
	<thead>
		<tr>
			<th scope="col">Fecha</th>
			<th scope="col">Matrícula</th>
			<th scope="col">Importe</th>
			<th scope="col">Concepto</th>
			<!--<th scope="col">Anular</th>-->
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let m of multas">
			<th scope="row">{{m.fechaAlta}}</th>
			<td>{{m.coche.matricula}}</td>
			<td>{{m.importe}}</td>
			<td>{{m.concepto}}</td>
			<!--<td><button type="button" class="btn anular" data-toggle="modal" data-target="#modal${m.id}">
				<span class="icon-bin"></span></button>
			</td>-->
		</tr>
		<div class="modal fade" id="modal${m.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Atención</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						¿Estás seguro que deseas anular la multa?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
						<a href="#" class="btn btn-danger">Anular multa</a>
					</div>
				</div>
			</div>
		</div>
	</tbody>
</table>