<div class="container marketing">
  <div class="centrar">
    <img src="../../assets/img/car.png" alt="coche policia">
    <app-alert [alert]="alert"></app-alert>
    <form [formGroup]="formulario" (submit)="comprobar()">
    	<div class="col">
        <input type="text" formControlName="placa" class="form-control" name="placa" placeholder="Introduce tu número de placa">
	    </div>
	    <div class="col">
		    <input type="password" formControlName="password" class="form-control" name="password" placeholder="Introduce tu contraseña">
	    </div>
	    <button type="submit" class="btn btn-dark" [disabled]="formulario.invalid">Iniciar sesión</button>
    </form>
  </div>
</div>