<div class="col-12">
  <h1>CRUD Frutas</h1>
  <div *ngIf="mensaje.texto !=''" class="alert alert-{{mensaje.tipo}}" role="alert">
      {{ mensaje.texto }}
  </div>
  <!-- <div *ngIf="mensajeError !=''" class="alert alert-danger" role="alert">
      {{ mensajeError }}
  </div> -->
  <p>Valores: {{ formulario.value | json }}</p>
  <p>Estado: {{ formulario.status | json }}</p>
  <p>Oferta: {{ formulario.value.oferta | json }}</p>
  
  <!-- <div class=" form-group d-flex" role="group" aria-label="Basic example"> -->
    <!-- Formulario viejo -->
    <!-- <input type="text" name="nombre" (click)="limpiarNombre()"
           [(ngModel)]="frutaNueva.nombre" class="form-control m-1" placeholder="Nombre de la fruta (Minimo 3 letras)" autofocus>
    <input type="text" name="precio" (click)="limpiarPrecio()"
           [(ngModel)]="frutaNueva.precio" class="form-control m-1" placeholder="Precio de la fruta">
  </div>
  <div class="form-group d-flex ">
    <input type="text" name="descuento" (click)="limpiarDescuento()"
      [(ngModel)]="frutaNueva.descuento" class="form-control m-1" placeholder="Descuento de la fruta" autofocus> -->
    <!-- <input type="text" name="imagen" (click)="limpiarImagen()"
      [(ngModel)]="frutaNueva.imagen" class="form-control m-1" placeholder="Imagen de la fruta"> -->
      <!-- (FIN) Formulario viejo -->

      <form [formGroup]="formulario" (submit)="accion()">
        <div class="col-12 d-flex flex-row flex-wrap">
          <div class="form-group col-6">
            <label for="nombre">Nombre</label>
            <input type="text" formControlName="nombre"
            class="form-control" placeholder= "Nombre de la fruta (Minimo 3 letras)" autofocus>
            <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="text-danger">*Nombre no válido</small>
          </div>
          <div class="form-group col-6">
            <label for="precio">Precio</label>
            <input type="number" formControlName="precio"
            class="form-control" placeholder= "Precio de la fruta">
            <small *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched" class="text-danger">*Precio no válido</small>
          </div>
          <div class="form-group col-6">
              <input type="checkbox" name="oferta" formControlName="oferta">
              Quiero poner una oferta a este producto
          </div>
          <div *ngIf="formulario.value.oferta" class="form-group col-12">
              <label for="descuento">Descuento</label>
              <input type="number" formControlName="descuento"
              class="form-control" placeholder= "Descuento de la fruta (Min=3, Max=70)" 
              >
              <small *ngIf="formulario.controls.descuento.invalid && formulario.controls.descuento.touched" class="text-danger">*Descuento no válido</small>
          </div>
        </div>
          <button *ngIf="frutaNueva.id === -1" type="submit" [disabled]="formulario.invalid" class="btn btn-success">Crear</button>
          <button *ngIf="frutaNueva.id !== -1" class="btn btn-info" (click)="modificar(fruta)">Editar</button>
          <button *ngIf="frutaNueva.id !== -1" class="btn btn-warning" (click)="limpiar()">Borrar datos</button>
      </form>

  <!-- </div> -->
  <!-- Boton de crear -->
  <!-- <div class="form-group">
    <button type="button" (click)="create()" class="btn btn-success" disabled="{{(frutaNueva.nombre.length<3)?'disabled':''}}" >Crear</button>
  </div> -->

  <div class="d-flex flex-row flex-wrap justify-content-between">
    <div *ngFor="let fruta of frutas"
      class="col-5 d-flex justify-content-around align-items-center border border-secondary m-1">
      
      <img class="rounded-circle shadow p-1 bg-primary rounded" src="{{fruta.imagen}}" alt="fruta.nombre">   
         
      <div class="d-flex flex-column justify-content-start align-items-start">
        <b>{{fruta.nombre}}</b>
        
      </div>
      <span *ngIf="fruta.oferta" class="d-flex flex-column">
        <del class="text-secondary">
          {{ fruta.precio | moneda: 'es' }}
        </del>
        {{ fruta.precio - ((fruta.precio * fruta.descuento) / 100) | number: '1.0-2' | moneda: 'es' }}
        <span class="badge badge-primary">{{ fruta.descuento | moneda: 'desc' }}</span>
      </span>
      <span *ngIf="!fruta.oferta" class="d-flex flex-column">
        {{ fruta.precio }}
        <span class="badge badge-danger">{{ 0 | moneda: 'desc' }}</span>
      </span>
      <i (click)="editar(fruta)" class="fas fa-edit"></i>
      <i (click)="delete(fruta)" class="fas fa-trash-alt"></i>
     </div> <!-- div For -->
</div>
</div>


  
  
