<div class="col-12">
  <h2>Frutas Maquetado</h2>
  <div class=" form-group d-flex" role="group" aria-label="Basic example">
    <input type="text" name="nombre" (click)="limpiarNombre()"
           [(ngModel)]="nuevaFrutaNombre" class="form-control m-1" placeholder="Nombre de la fruta" autofocus>
    <input type="text" name="precio" (click)="limpiarPrecio()"
           [(ngModel)]="nuevaFrutaPrecio" class="form-control m-1" placeholder="Precio de la fruta">
  </div>
  <div class="form-group d-flex ">
    <input type="text" name="descuento" (click)="limpiarDescuento()"
      [(ngModel)]="nuevaFrutaDescuento" class="form-control m-1" placeholder="Descuento de la fruta" autofocus>
    <!-- <input type="text" name="imagen" (click)="limpiarImagen()"
      [(ngModel)]="nuevaFrutaImagen" class="form-control m-1" placeholder="Imagen de la fruta"> -->
  </div>
  <div class="form-group">
    <button type="button" (click)="create()" class="btn btn-success">Crear</button>
  </div>
  <!-- <ul class="list-group"> -->
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <div *ngFor="let fruta of frutas"
      class="col-5 d-flex justify-content-around align-items-center border border-secondary m-1"
      (click)="rellenarDatos(fruta)">
      
      <img class="rounded-circle shadow p-1 bg-primary rounded" src="{{fruta.imagen}}" alt="fruta.nombre">   
         
      <div class="d-flex flex-column justify-content-start align-items-start">
        <b>{{fruta.nombre}}</b>
        
      </div>
      <span *ngIf="fruta.oferta" class="d-flex flex-column">
        <del class="text-secondary">
          {{ fruta.precio | moneda: 'es' }}
        </del>
        {{ fruta.precio - ((fruta.precio * fruta.descuento) / 100) | number: '1.0-2' | moneda: 'es' }}
        <span class="badge badge-primary">{{ fruta.descuento | moneda: 'desc' }}</span>
      </span>
      <span *ngIf="!fruta.oferta" class="d-flex flex-column">
        {{ fruta.precio }}
        <span class="badge badge-danger">{{ 0 | moneda: 'desc' }}</span>
      </span>
      <button type="button" (click)="changeOferta(fruta)" class="btn btn-warning">Oferta</button>

      <!-- Button trigger modal 
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>-->
      
      <!-- Modal 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal {{ fruta.nombre }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>-->

      <button class="btn btn-danger" (click)="delete(fruta)" >x</button>  
     </div> <!-- div For -->
  <!-- </ul> -->
</div>
</div>


  
  
