<nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
  <a class="navbar-brand" href="#" [routerLink]="['home']" routerLinkActive="active">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['game']" routerLinkActive="active">Game</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['about/1']" routerLinkActive="active">Recibir un parametro</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['saludar/dani/zallo']" routerLinkActive="active">Saludar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['directiva']" routerLinkActive="active">Directiva</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['flujo']" routerLinkActive="active">ngBind</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['pipe']" routerLinkActive="active">Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['array']" routerLinkActive="active">Array Frutas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['comparador']" routerLinkActive="active">Comparador de Frutacas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['coche']" routerLinkActive="active">Comparador de Coches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['service']" routerLinkActive="active">Service</a>
      </li>
      
    </ul>
  </div>
</nav>
<main class="container pt-4 ">
  <router-outlet></router-outlet>
</main>
<!-- nuestro nuevo componente de prueba-->
<!-- <app-prueba></app-prueba>-->