<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['parametro/1']">Parametro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['saludo/julen/fernandez']">Saludo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['pagina-directiva']">Página directiva</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['flujo']">Flujo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['pagina-pipe']">Página pipe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['juego']">Juego</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['about']">About</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Frutas</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['pagina-array']">Listado frutas</a>
      <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['pagina-comparador']">Comparador</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['pagina-servicio']">Service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['pagina-concesionario']">Concesionario</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['pagina-personas']">Personas</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listas</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['pagina-todos']">Todos</a>
      <a class="dropdown-item"  routerLinkActive="active" [routerLink]="['lista-frutas']">Frutas</a>
    </div>
  </li>
</ul>

<main>
<router-outlet></router-outlet>
</main>
