<main role="main" class="container">
  
  <!--
  <div style="border:1px solid red; padding:10px;">
    <p>Coche: {{vehiculo | json }}</p>
    <p>Agente: {{ agente | json}}</p>
  </div>
   -->
  
   <div  >
      <div class="row no-gutters">          
          
          <div class="col-md-8 ">
              <div class="card-body">
                <h5 class="card-title">Datos Vehiculo:</h5>                
                <p class="card-text">Matricula: {{vehiculo.matricula}}</p>
                <p class="card-text">Modelo: {{vehiculo.modelo}}</p>
                <p class="card-text">Km: {{vehiculo.km}}</p>
              </div> 
          </div> 
        </div>     
    </div>   
  <form  [formGroup]="formulario" (submit)="crear()" >
    
    <div class="mb-1">
        <h5 class="card-title">Datos sancion:</h5> 

      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-euro-sign"></i> </span>
          </div>    
          <!--<label for="importe">Importe</label> -->
          <input type="text" formControlName="importe" class="form-control" placeholder="Importe" >      
          <p id="p" *ngIf="formulario.controls.importe.invalid && formulario.controls.importe.touched"  
             class="text-danger">*El limite de la sancion es 9999 </p>
      </div>
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-file-alt"></i> </span>
          </div> 
          <!-- <label for="concepto">Concepto</label> -->
          <textarea type="text" formControlName="concepto" class="form-control" placeholder="Concepto"> </textarea> 
          <p id="p" *ngIf="formulario.controls.concepto.invalid && formulario.controls.concepto.touched"  
             class="text-danger">*minimo 5 letras y máximo 200</p>     
        </div>
        <button type="submit" class="btn btn-block btn-secondary mt-3" [disabled]="formulario.invalid">Crear Multa</button>      
      </div> 
    </form>
    <app-alert [alert]="alert"></app-alert>


      <!--
          <div style="border:1px solid red; padding:10px;">
              <p>Valores: {{ formulario.value | json }}</p>
              <p>Estado:  {{ formulario.status | json }}</p> 
          </div>
      -->

</main>