<h2 class="bg-primary text-white p-2 mt-4 text-center text-uppercase">ListadO de Personas</h2>

<div class="list-group">
  <div class="list-group-item">
    <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="" width="100px" height="100px">
    <div>Nombre Apellido</div>
    <div>Email</div>
  </div>
  <div class="list-group-item">Dapibus ac facilisis in</div>
  <div class="list-group-item">Morbi leo risus</div>
  <div class="list-group-item">Porta ac consectetur ac</div>
  <div class="list-group-item">Vestibulum at eros</div>
</div>

<p>{{personas |json}}</p>
