#todos{
    
    /* The image used */
    background-image: url("/assets/imgs/coffee.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    min-height: 80vh;
    display: flex;

    section{
        padding: 20px;
        background-color: rgba(255,255,255,0.7);        
        margin: auto;          
        width: 50vw;

        h2{
            text-align: center;
            margin-bottom: 30px;
        }

        ul{
            list-style: none;
            font-size: 1.2em;
            li {
                margin-bottom:15px;
            }    
        }

        input[type="checkbox"]{            
            margin-right: 10px;
        }

    }

    .terminada{
        text-decoration: line-through;
    }

}