

h2{
    background-color:#9E9E9E;
    color: #FFF;
    font-size: 1em;
    padding: 0.3em;
}

.title{
    font-size: 1.6em;
}

.precio{
    font-size: 1.5em;
    
}
.precio-descuento{
    color: lightgray;
    font-size: 1.5em;
    text-decoration:line-through;
}

img{
    width: 75px;
    height: 75px;
    margin-right: 15px;
}