<div class="jumbotron">
  <div class="row">
    <div class="col-0 col-md-4">

    </div>
    <div class="col-12 col-md-4">
      <div class="shadow-sm col-lg-12">
        <a [routerLink]="['/mandarMatricula']" class="btn btn-outline-success d-flex justify-content-center align-items-center"
          role="button">
          <div><span class="icon-pencil2"></span>
            <p>Multar</p>
          </div>
        </a>
      </div>
      <div class="shadow-sm col-lg-12">
        <a [routerLink]="['/listar-multas']" class="btn btn-outline-primary d-flex justify-content-center align-items-center"
          role="button">
          <div><span class="icon-eye"></span>
            <p>Ver multas</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-0 col-md-4">

    </div>
  </div>
</div>
