<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <a href="javascript:history.back(-1);" title="Ir la página anterior"><i class="fas fa-chevron-left"></i></a>
    <ul class="navbar-nav float-right">
      <li><a class="btn btn-outline-danger" (click)="logout()">Cerrar sesion</a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['index']">Inicio <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<main role="main">
  <div class="container marketing">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>