<div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li *ngFor="let f of frutas;let i = index" 
            (click)="cambiarFruta(i)"
            class="list-group-item {{(f.nombre===frutaSelec1.nombre||f.nombre===frutaSelec2.nombre||f.nombre===frutaSelec3.nombre)?'active':''}}">{{f.nombre | uppercase}}</li>         
      </ul>
  
      <p>frutaSelec1 => {{frutaSelec1.nombre}}</p>
      <p>frutaSelec2 => {{frutaSelec2.nombre}}</p>
      <p>frutaSelec3 => {{frutaSelec3.nombre}}</p>
    </div>
    <div class="col-8">
      <div class="card-deck">
        <app-coche></app-coche>
      </div>
    </div>
  </div>