<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li *ngFor="let c of coches;let i = index" 
          (click)="cambiarCoche(i)"
          class="list-group-item {{(c.modelo===cocheSelec.modelo)?'active':''}}">{{c.modelo | uppercase}}</li>         
    </ul>

    <p>cocheSelec => {{cocheSelec.modelo}}</p>
  </div>
  <div class="col-5">
    <div class="card-deck">
      <app-coche [coche]="cocheSelec"></app-coche>
    </div>
  </div>
  <div class="col-3">
    <h4>Carrito</h4>
  </div>
</div>