<div id="todos">

    <section>
      <h2>Lista Tareas</h2>
      <input type="text" [(ngModel)]="nuevaTarea" placeholder="Nueva Tarea">
      <button (click)="new()" class="btn btn-primary">CREAR</button>  
      <hr>
      <ul>
        <li *ngFor="let todo of todos">
            <input type="checkbox" [checked]="todo.completed" (click)="change(todo)">
                <span  [class]="(todo.completed)?'terminada':''" >{{todo.id}} {{todo.title}}</span>
                <button (click)="delete(todo)" class="bnt btn-outline-danger">Eliminar</button>                        
        </li>      
      </ul>
    </section>  
  
  </div>