
<h2 class="bg-primary text-white p-2 mt-4 text-center text-uppercase">CRUD FRUTAS</h2>

<!-- TODO crearlo en componente -->
<div *ngIf="mensaje != ''" class="alert alert-info alert-dismissible fade show" role="alert">
<strong>{{mensaje}}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="jumbotron">
<p>Valores: {{formulario.value | json}}</p>
<p>Estado global: {{formulario.status | json}}</p>

</div>

<form [formGroup]="formulario" (submit)="new(formulario.value)">
    
  <!-- 
    directivas que vienen dentro del módulo reactivo
    formGroup]="objetoFormulario"
    formControlName="nombreDelControl"
  -->
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" formControlName="nombre" class="form-control"  placeholder="Minimo 3 letras">
    <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched"  
    class="text-danger">*recuerda que minimo 3 letras</p>
  </div>  
  <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text" formControlName="precio" class="form-control"  placeholder="Minimo 0,99 max 99">
    </div> 
    <button type="submit"
        [disabled]="formulario.invalid">Save</button>
</form>




<!-- Button trigger modal 
<button (click)="modal()" type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#formularioCrear">
    Nueva Fruta
  </button>-->

<!-- Modal -->
  <div class="modal fade" id="formularioCrear" tabindex="-1" role="dialog" aria-labelledby="formularioCrearLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formularioCrearLabel">Fruta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="form-group">
                  <label for="f-nombre" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" [(ngModel)]="nombreFrutaNueva" placeholder="nombre fruta ">
                </div>
                {{nombreFrutaNueva}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
          <button (click)="new()" class="btn btn-primary">CREAR</button>
        </div>
      </div>
    </div>
  </div>




<div class="row">

  <table id="example" class="table col-12 " >
    <thead>
        <tr>
            <th> <input type="checkbox"></th>
            <th>id</th>
            <th>nombre</th>
            <th>precio</th>
            <th>oferta</th>
            <th>descuento</th>
            <th>imagen</th>
            <th><i  class="fa fa-trash" aria-hidden="true"></i></th>
            <th><i class="far fa-edit"></i></th>

        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let fruta of frutas ; let i=index ">
            <th> <input type="checkbox" id="select"  (click)="selecionado(fruta,i)"></th>
            <td>{{fruta.id}}</td>
            <td >
              <span *ngIf="(i!=checkSeleccionado)">{{fruta.nombre}}</span>
                <input type="text" *ngIf="(i==checkSeleccionado)" class="form-control"  id="nombre" [(ngModel)]="fruta.nombre" placeholder="nombre fruta ">

            </td>
            <td>{{fruta.precio}}</td>
            <td>{{fruta.oferta}}</td>
            <td>{{fruta.descuento}}</td>
            <td><img src="{{fruta.imagen}}" width="100" height="100"></td>
            <th><i (click)="delete(fruta)" class="fa fa-trash" aria-hidden="true"></i></th>
            <th><i (click)="change(fruta)"  class="far fa-edit"></i></th>
            <td></td>


        </tr>
    </tbody>

</table>

</div>
