<div class="mb-4 col-lg-12">  
  <a class="btn btn-outline-success d-flex justify-content-center align-items-center" href="${pageContext.request.contextPath}/matricula" role="button"><div><i class="far fa-edit"></i><p>Multar</p></div></a>
</div>
<div class="mb-4 col-lg-12">
  <a class="btn btn-outline-primary d-flex justify-content-center align-items-center" href="${pageContext.request.contextPath}/multas" role="button"><div><i class="far fa-eye"></i><p>Ver multas</p></div></a>
</div>
<div class="mb-4 col-lg-12">
  <a class="btn btn-outline-dark d-flex justify-content-center align-items-center" href="${pageContext.request.contextPath}/listar" role="button"><div><i class="far fa-eye-slash"></i><p>Ver multas dadas de baja</p></div></a>
</div>