<nav class="navbar navbar-expand-md navbar-dark  fixed bg-primary">
    <a  [routerLink]="['home']">
      <img alt="Home" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" title="Home" class="ng-star-inserted" width="150" height="40">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basico
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['about/1']">About</a>
                <a class="dropdown-item " [routerLink]="['juego']">Juego</a>
                <a class="dropdown-item" [routerLink]="['saludar/imanol']">Saludar</a>
                <a class=" dropdown-item " [routerLink]="['directiva']">Directiva</a> 
            </div>
          </li>

         


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Medio
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['pipe']">PIPE</a>
                    <!--
                        <a class="nav-link" [routerLink]="['array']">Array 1</a>
                      -->
                    <a class="dropdown-item" [routerLink]="['array2']">Array 2</a>
                    <a class="dropdown-item" [routerLink]="['comparador']">Comparador</a>   
                    <a class="dropdown-item" [routerLink]="['flujo']">Flujo de informacion</a>  
                </div>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Frutas
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" [routerLink]="['array2']">Array 2</a>
                      <a class="dropdown-item" [routerLink]="['comparador']">Comparador</a> 
                  </div>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Servicios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['service']">Service</a>
                    <a class="dropdown-item" [routerLink]="['persona']">Random User</a>
                    <a class="dropdown-item" [routerLink]="['frutas-servicio']">Frutas Servicio</a>
                </div>
              </li>


          
      </ul>
      
    </div>
  </nav>
