<div class="jumbotron mt-3">
    <h1>HOME</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button *ngFor="let idioma of idiomas" 
            type="button" 
            (click)="cambiarIdioma(idioma)"
            class="{{(idiomaSeleccionado===idioma)?'btn btn-primary':'btn btn-secondary'}}">
            {{idioma}}
    </button>
    </div>

    <span>Idioma seleccionado: {{idiomaSeleccionado}}</span>

 <app-traductor (llamarPadre)="escucho($event)" [idioma]="idiomaSeleccionado"  [texto]="'hola'"></app-traductor>
</div>

<h2>Objeto Fruta</h2>
<div>{{frutaConstructor | json }}</div>
<div>{{frutaConstructorDescuento | json }}</div>
<div>{{frutaConstructorCompleto | json }}</div>