// Estilos propios del componente, este tipo de comentarios no se ven en el código

div{
    background: grey;
    padding: 1em;

    span{
        font-size: 50px;
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: pink;
    }

    p{
        color: white;
    }

    button{
        color: teal;
        font-size: 24px;
    }
}