// Estilos propios del componente, este tipo de comentarios no se ven en el código

div{
    background: grey;
    padding: 1em;

    p{
        color: white;
    }

    button{
        color: teal;
        font-size: 24px;
    }
}