/*EStilos propios del componente*/
div{
 background: grey;
 padding: 1em;
 p{
    font-size: 50px;
    display: block;
    text-align: center;
    font-family: arial;
    color:white;
 }
 button{
    text-align: center;
    color: teal;
    font-size: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    
 }
 span{
     font-size: 50px;
     display: block;
     text-align: center;
     font-family: arial;
     color:pink;
 }
}