<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="http://localhost:4200//principal"><img width="50" alt="Angular Logo" src="https://cdn4.iconfinder.com/data/icons/free-large-boss-icon-set/512/Policeman.png"></a>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->
<h5>Agente Nº: {{agente.placa}}</h5> &nbsp; &nbsp; &nbsp;
  <button class="mt-6 btn btn-light" (click) = "logout()">
		Logout
	</button>
</nav>