<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png">
      </div>
<p>
 ABOUT
 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam est, quo, a reiciendis ullam quisquam odio repudiandae in rem libero ab optio, cumque illo velit sint hic iusto cum? Modi.
</p>
