<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>SeguridadFilter</filter-name>
		<display-name>SeguridadFilter</display-name>
		<description></description>
		<filter-class>com.ipartek.formacion.filter.SeguridadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SeguridadFilter</filter-name>
		<url-pattern>/privado/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoController</servlet-name>
		<display-name>VideoController</display-name>
		<description></description>
		<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.VideoController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsuarioController</servlet-name>
		<display-name>UsuarioController</display-name>
		<description></description>
		<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.UsuarioController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoController</servlet-name>
		<url-pattern>/privado/videos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/privado/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsuarioController</servlet-name>
		<url-pattern>/privado/usuarios</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login</welcome-file>
	</welcome-file-list>
</web-app>
