<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>SeguridadFilter</filter-name>
  	<display-name>SeguridadFilter</display-name>
  	<description></description>
  	<filter-class>com.ipartek.formacion.filter.SeguridadFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SeguridadFilter</filter-name>
  	<url-pattern>/privado/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.controladores.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoSrvLt</servlet-name>
  	<display-name>VideoSrvLt</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.controladores.VideoSrvLt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PerroSrvLt</servlet-name>
  	<display-name>PerroSrvLt</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.controladores.PerroSrvLt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutSrvLt</servlet-name>
  	<display-name>LogoutSrvLt</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.controladores.LogoutSrvLt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CarritoSrvLt</servlet-name>
  	<display-name>CarritoSrvLt</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.controladores.CarritoSrvLt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoSrvLt</servlet-name>
  	<url-pattern>/video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PerroSrvLt</servlet-name>
  	<url-pattern>/perro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutSrvLt</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CarritoSrvLt</servlet-name>
  	<url-pattern>/carrito</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>login</welcome-file>
  </welcome-file-list>
</web-app>
