<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CalculadoraController</servlet-name>
  	<display-name>CalculadoraController</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.CalculadoraController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoController</servlet-name>
  	<display-name>VideoController</display-name>
  	<description></description>
  	<servlet-class>com.ipartek.formacion.ejemplocapas.controladores.VideoController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalculadoraController</servlet-name>
  	<url-pattern>/calcular</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoController</servlet-name>
  	<url-pattern>/videos</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>login</welcome-file>
  </welcome-file-list>
</web-app>
