<body>
  <main role="main" class="container">

    <div>
      <img class="img-responsive mx-auto d-block mb-5 mt-5" width="255px" height="300px"
        src="https://www.legendstudio.net/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/p/o/police_badge_custom_shape_1.jpg"
        alt="escudo policia">
    </div>
    <!--<div style="border:1px solid red; padding:10px;">
    <p>Valores: {{ formulario.value | json }}</p>
    <p>Estado:  {{ formulario.status | json }}</p> 
  </div>
  
  <p>{{texto}}</p>-->
    <app-alert [alert]="alert"></app-alert>
    <div id="login">
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">

              <form [formGroup]="formulario" (submit)="comprobar()" id="login-form">

                <label for="placa" class="text-info">Número de Placa</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="icon-badge"></i></div>
                  <input type="text" formControlName="placa" class="form-control" placeholder="Mínimo 3 letras"
                    id="username">
                  <p *ngIf="formulario.controls.placa.invalid && formulario.controls.placa.touched" class="text-danger">
                    *recuerda
                    que minimo 3 letras</p>
                </div>

                <label for="password" class="text-info">Contraseña</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                  <input type="password" formControlName="password" id="password" class="form-control"
                    placeholder="Mínimo 3 letras">
                </div>
                <button type="submit" id="register-link" class="btn btn-block btn-primary mt-5"
                  [disabled]="formulario.invalid">Acceder</button>



              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>