$bg-color: grey;

div{
    
    max-width: 50%;
    margin:0 auto;
    text-align: center;
    display: flex;
    font-family:'Yu Gothic';
    font-size: 2em;
    span{ 
       
        flex-grow:3;
    }
    span:nth-child(1){ 
        flex-grow:23;
    }
    button{
        display:block;
        flex-grow:1;
    }
}