<div class="jumbotron mt-3">
<div>
    <span>{{contador}}</span>
</div>
<div>
    <span appCountdown="{{tiempo}}" >{{tiempo}}'</span>  
</div>

<div>
    <button  class="btn btn-info btn-block" *ngIf="tiempo!=0"(click)="start()" disabled="{{(tiempo == 10)?'':'disabled'}}">{{(tiempo == 10)?'Comenzar':'Jugando'}}</button>
    <button class="btn btn-info btn-block" *ngIf="tiempo==0" (click)="restart()">REINICIAR</button>
    <button  class="btn btn-info btn-block"(click)="sumar()">Sumar</button>
</div>
</div>