/* Estilos propios del Componente */

// Tambien permitido comentario de liena en SASS, NO se en el codigo CSS

div{
    background:#353232;
    padding: 1em;

    span{
        font-size: 50px;
        display: block;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #59a929;
    }

    p{
        color: white;
    }

}    
