.dfl{
    display:block;
    margin-left: auto; 
   
  }

.dfr{
    display:block;
    margin-right: auto;
  }

  main{
    /*background-image: url("http://www.fondosblackberry.com/user-content/uploads/wall/o/98/onda_background_gris_Grey_Art.jpg");
      background-color: rgb(223, 48, 48);*/
     }