<div class="container mb-3 mt-3">
  <div class="row d-flex align-items-center mb-3">
    <div class="d-flex">
      <img class="mr-3 img-thumbnail" src="assets\imagenes\takelberry.jpg" alt="takelberry">
    </div>
    <p class="text-primary nombre">Takelberry </p>
  </div>
</div>

<table class="table table-hover tablaOrdenable">
  <thead class="thead-light">
    <tr>
      <th>Matricula</th>
      <th>Fecha</th>
      <th>Importe</th>


    </tr>
  </thead>
  <tbody>
    <td>0000AAA</td>
    <td>26-02-2019 12:42</td>
    <td>100</td>
  </tbody>
</table>
